<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
	<title>Sarah Caldow</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="~/css/main.css" />
</head>
<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				@RenderBody()

			</div>
		</div>

		<!-- Sidebar -->
		<div id="sidebar">
			<div class="inner">

				<!-- Search -->
				<section id="search" class="alt">
					<form method="post" action="#">
						<input type="text" name="query" id="query" placeholder="Search" />
					</form>
				</section>

				<!-- Menu -->
				<nav id="menu">
					<header class="major">
						<h2>Menu</h2>
					</header>
					<ul>
						<li><a href="generic.html">Home</a></li>
						<li><a href="elements.html">About Me</a></li>
						<li>
							<span class="opener">Web Applications</span>
							<ul>
								<li><a href="#">Lorem Dolor</a></li>
								<li><a href="#">Ipsum Adipiscing</a></li>
								<li><a href="#">Tempus Magna</a></li>
								<li><a href="#">Feugiat Veroeros</a></li>
							</ul>
						</li>
						<li>
							<span class="opener">Writing</span>
							<ul>
								<li><a href="#">Lorem Dolor</a></li>
								<li><a href="#">Ipsum Adipiscing</a></li>
								<li><a href="#">Tempus Magna</a></li>
								<li><a href="#">Feugiat Veroeros</a></li>
							</ul>
						</li>
					</ul>
				</nav>

				<!-- Section -->
				<section>
					<header class="major">
						<h2>Contact Me</h2>
					</header>
					<p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
					<ul class="contact">
						<li class="fa-envelope-o"><a href="#">sarah@caldow.org</a></li>
						<li class="fa-phone">(651) 278-3942</li>
					</ul>
				</section>

				<!-- Footer -->
				<footer id="footer">
					<p  class="copyright"><span id="wtnv-quote">"In space, they can hear you scream, and they would like for you to please stop. It’s almost 10pm, okay?"</span> ~Welcome To Nightvale</p>
				</footer>

			</div>
		</div>

	</div>

	<!-- Scripts -->
	<script src="~/js/jquery.min.js"></script>
	<script src="~/js/browser.min.js"></script>
	<script src="~/js/breakpoints.min.js"></script>
	<script src="~/js/util.js"></script>
	<script src="~/js/main.js"></script>
	<script src="~/js/homepage.js"></script>

</body>
</html>